# folder
data/*
.vscode/*
__pycache__/
*.dSYM/
venv
dist
videos
gui

# files
src/main
gui/src/test.py
.DS_Store
compile_flags.txt
!.gitignore
examples/.ipynb_checkpoints/

# fracnetics build
fracnetics/*.so
fracnetics/*.ninja_*
fracnetics/.cmake/
fracnetics/.skbuild-info.json

# documentation
docs/make.bat
docs/build/
docs/cpp/
docs/source/auto_examples/
docs/source/sg_execution_times.rst

# tests 
tests/tempTest.cpp
tests/test
tests/iris

# examples 
examples/cartpole_solution.html
examples/lib 

