# folder
data/*
.vscode/*
__pycache__/
*.dSYM/
venv
dist
videos
gui
docs/cpp/
docs/build/
docs/source/auto_examples/
# files
docs/make.bat
src/main
gui/src/test.py
fracnetics/*.so
tests/tempTest.cpp
tests/test
tests/iris
.DS_Store
compile_flags.txt
!.gitignore
# scikit-build / ninja build artifacts
fracnetics/*.ninja_*
fracnetics/.cmake/
fracnetics/.skbuild-info.json
